//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

#chatassist {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    right: 5%;
    top: 100%;
    border: 1px #ddd solid;
    width: 300px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    &.active {
        top: calc(100% - 500px);
        .open-close {
            top: 0px;
            width: 40px;
            height: 40px;
            .open-assist {
                display: none;
            }
            .close-assist {
                display: block;
            }

        }
    }

    .wrapper {
        position: relative;
        height: 100%;
    }
    .open-close {
        position: absolute;
        right: 0;
        top: -100px;
        width: 60px;
        transition: 0.5s;
        height: 60px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px #43ab71 solid;
        background-color: #43ab71;
        cursor: pointer; 

        .open-assist {
            svg {
                width: 30px;
                height: 30px;
                path {
                    //animation:dash 5s ease-in-out infinite;
                    stroke: #fff;
                }
            }
        }
        .close-assist {
            display: none;
            svg {
                width: 12px;
                height: 12px;
                path {
                    stroke: #fff;
                }
            }
        }
    }
    // @keyframes dash {
    //     0% {
    //         stroke-dasharray:0px;
    //     }
    //     100% {
    //         stroke-dasharray:10px;
    //     }
    // }
    .head-assist {
        display: flex;
        background-color: #43ab71;
        align-items: center;
        padding: 10px 16px;
        border-radius: 10px 10px 0 0;
        color: #fff;

        .image-assist {
            width: 46px;
            height: 46px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: #ddd;
        }

        .name-assist {
            font-size: 16px;
            font-weight: bold;
        }

        .work-assist {
            font-size: 10px;
            text-transform: uppercase;
        }
    }
    .body-assist {
        height: 384px;
        padding: 8px 6px;
        overflow-y: auto;
        .left-q,.right-q {
            display: flex;
            margin: 10px 0;
        }
        .date-msg {
            padding: 0 4px;
            font-size: 12px;
            font-weight: thin;
            color: #999;
        }
        .left-q {
            .msg-text {
                background: #f5f5f5;
            }
        }
        .msg-block {
            margin: 0 12px;
            max-width: 70%;
            border-radius: 6px;
        }
        .msg-text {
            padding: 4px 10px;
            border-radius: 10px;
            font-weight: 300;
            font-size: 14px;
        }
        .right-q {
            flex-direction: row-reverse;
            .date-msg {
                text-align: right;

            }
            .msg-text {
                background: #43ab71;
                color: #fff;
            }
        }
        .small-image-assist {
            width: 20px;
            min-width: 20px;
            height: 20px;
            margin-top: 5px;
            background-color: #43ab71;
            border-radius: 50%;
        }
    }
    .foot-assist {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-top: 1px #eee solid;
        .corpAuthors {
            position: absolute;
            left: 100%;
            bottom: 10px;
            transform: rotate(90deg);
            font-size: 12px;
            color: #000;
            z-index:999;
            height: 20px;
        }
        form {
            height: 50px;
            position: relative;

            textarea {
                width: 100%;
                height: 100%;
                border: 0;
                outline: none;
                resize: none;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 16px;
                padding-right: 66px;
            }
            button {
                position: absolute;
                right: 0;
                height: 100%;
                width: 50px;
                background-color: #43ab71;
                border: 0;
            }
        }
    }

}