#chatassist {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  right: 5%;
  top: 100%;
  border: 1px #ddd solid;
  width: 300px;
  height: 500px;
  border-radius: 10px 10px 0 0;
  transition: 0.5s; }
  #chatassist.active {
    top: calc(100% - 500px); }
    #chatassist.active .open-close {
      top: 0px;
      width: 40px;
      height: 40px; }
      #chatassist.active .open-close .open-assist {
        display: none; }
      #chatassist.active .open-close .close-assist {
        display: block; }
  #chatassist .wrapper {
    position: relative;
    height: 100%; }
  #chatassist .open-close {
    position: absolute;
    right: 0;
    top: -100px;
    width: 60px;
    transition: 0.5s;
    height: 60px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px #43ab71 solid;
    background-color: #43ab71;
    cursor: pointer; }
    #chatassist .open-close .open-assist svg {
      width: 30px;
      height: 30px; }
      #chatassist .open-close .open-assist svg path {
        stroke: #fff; }
    #chatassist .open-close .close-assist {
      display: none; }
      #chatassist .open-close .close-assist svg {
        width: 12px;
        height: 12px; }
        #chatassist .open-close .close-assist svg path {
          stroke: #fff; }
  #chatassist .head-assist {
    display: flex;
    background-color: #43ab71;
    align-items: center;
    padding: 10px 16px;
    border-radius: 10px 10px 0 0;
    color: #fff; }
    #chatassist .head-assist .image-assist {
      width: 46px;
      height: 46px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: #ddd; }
    #chatassist .head-assist .name-assist {
      font-size: 16px;
      font-weight: bold; }
    #chatassist .head-assist .work-assist {
      font-size: 10px;
      text-transform: uppercase; }
  #chatassist .body-assist {
    height: 384px;
    padding: 8px 6px;
    overflow-y: auto; }
    #chatassist .body-assist .left-q, #chatassist .body-assist .right-q {
      display: flex;
      margin: 10px 0; }
    #chatassist .body-assist .date-msg {
      padding: 0 4px;
      font-size: 12px;
      font-weight: thin;
      color: #999; }
    #chatassist .body-assist .left-q .msg-text {
      background: #f5f5f5; }
    #chatassist .body-assist .msg-block {
      margin: 0 12px;
      max-width: 70%;
      border-radius: 6px; }
    #chatassist .body-assist .msg-text {
      padding: 4px 10px;
      border-radius: 10px;
      font-weight: 300;
      font-size: 14px; }
    #chatassist .body-assist .right-q {
      flex-direction: row-reverse; }
      #chatassist .body-assist .right-q .date-msg {
        text-align: right; }
      #chatassist .body-assist .right-q .msg-text {
        background: #43ab71;
        color: #fff; }
    #chatassist .body-assist .small-image-assist {
      width: 20px;
      min-width: 20px;
      height: 20px;
      margin-top: 5px;
      background-color: #43ab71;
      border-radius: 50%; }
  #chatassist .foot-assist {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px #eee solid; }
    #chatassist .foot-assist .corpAuthors {
      position: absolute;
      left: 100%;
      bottom: 10px;
      transform: rotate(90deg);
      font-size: 12px;
      color: #000;
      z-index: 999;
      height: 20px; }
    #chatassist .foot-assist form {
      height: 50px;
      position: relative; }
      #chatassist .foot-assist form textarea {
        width: 100%;
        height: 100%;
        border: 0;
        outline: none;
        resize: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 16px;
        padding-right: 66px; }
      #chatassist .foot-assist form button {
        position: absolute;
        right: 0;
        height: 100%;
        width: 50px;
        background-color: #43ab71;
        border: 0; }
