//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

#chatassist {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    right: 5%;
    top: 100%;
    border: 1px #ddd solid;
    width: 300px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;

    &.active {
        top: calc(100% - 500px);

        .open-close {
            top: 0px;
            width: 40px;
            height: 40px;

            .open-assist {
                display: none;
            }

            .close-assist {
                display: block;
            }

        }
    }

    .wrapper {
        position: relative;
        height: 100%;
    }

    .open-close {
        position: absolute;
        right: 0;
        top: -100px;
        width: 60px;
        transition: 0.5s;
        height: 60px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px #43ab71 solid;
        background-color: #43ab71;
        cursor: pointer;

        .open-assist {
            svg {
                width: 30px;
                height: 30px;

                path {
                    //animation:dash 5s ease-in-out infinite;
                    stroke: #fff;
                }
            }
        }

        .close-assist {
            display: none;

            svg {
                width: 12px;
                height: 12px;

                path {
                    stroke: #fff;
                }
            }
        }
    }

    // @keyframes dash {
    //     0% {
    //         stroke-dasharray:0px;
    //     }
    //     100% {
    //         stroke-dasharray:10px;
    //     }
    // }
    .head-assist {
        display: flex;
        background-color: #43ab71;
        align-items: center;
        padding: 10px 16px;
        border-radius: 10px 10px 0 0;
        color: #fff;

        .image-assist {
            width: 46px;
            height: 46px;
            margin-right: 10px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #ddd;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name-assist {
            font-size: 16px;
            font-weight: bold;
        }

        .work-assist {
            font-size: 10px;
            text-transform: uppercase;
        }
    }

    .body-assist {
        height: 384px;
        padding: 8px 6px;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        background-color: #f1f1f1;
       

        .left-q,
        .right-q {
            display: flex;
            margin: 10px 0;
        }

        .date-msg {
            padding: 0 4px;
            font-size: 12px;
            font-weight: thin;
            color: #999;
        }

        .left-q {
            .msg-text {
                background: #f5f5f5;
            }
        }

        .msg-block {
            margin: 0 12px;
            max-width: 70%;
            border-radius: 6px;
            animation: fadein 1s linear;
        }

        .msg-text {
            padding: 4px 10px;
            border-radius: 10px;
            font-weight: 300;
            font-size: 14px;
            overflow: hidden;
        }

        .right-q {
            flex-direction: row-reverse;

            .date-msg {
                text-align: right;

            }

            .msg-text {
                background: #43ab71;
                color: #fff;
            }
        }

        .small-image-assist {
            width: 20px;
            min-width: 20px;
            height: 20px;
            margin-top: 5px;
            background-color: #43ab71;
            border-radius: 50%;
        }
    }

    .foot-assist {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-top: 1px #eee solid;

        .corpAuthors {
            position: absolute;
            left: 100%;
            bottom: 10px;
            transform: rotate(90deg);
            font-size: 12px;
            color: #000;
            z-index: 999;
            height: 20px;
        }

        form {
            height: 50px;
            position: relative;

            input {
                width: 100%;
                height: 100%;
                border: 0;
                outline: none;
                resize: none;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 16px;
                padding-right: 66px;
            }

            button {
                position: absolute;
                right: 0;
                height: 100%;
                width: 50px;
                background-color: #43ab71;
                border: 0;
            }
        }
    }

}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.body-assist::-webkit-scrollbar {
    width: 20px;
}

.body-assist::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.body-assist::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.openformYolly {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    right: 0;
    bottom: 0;
    background:linear-gradient(45deg,#024ab1,#4c84e6);
    color: #fff;
    border-radius: 6px 0 0 0 ;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        padding: 14px 28px;
    }
}

.contactFormYollyPopup {
    display: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    .plenka {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
    }
    .form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        z-index: 2;
        padding: 20px;
        border-radius: 6px;
        max-width: 40%;
        min-width: 40%;
    }
    .close {
        position: absolute;
        left: 100%;
        bottom: 100%;
        z-index: 9;
        cursor: pointer;
        svg {
            path {
                stroke: #fff;
            }
        }
    }

    .inputs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        input {
            width: 49%;
            margin: 8px 0;
            padding: 8px 14px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px #ddd solid;
        }
   
    }

}
.op0 {
    opacity: 0;
}
@keyframes loading {
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

.contactFormYollyPopup , #chatYollyStatic {
    button {
        width: 100%;
        background:linear-gradient(45deg,#024ab1,#4c84e6);
        color: #fff;
        padding: 10px 20px;
        border:0;
        margin-top: 8px;
        border-radius: 6px;
        text-transform: uppercase;
        transition: 0.5s;
        position: relative;
        &:hover {
            opacity: 0.7;
        }
    }
    .loader {
        display: none;
        animation: loading 2s ease-out infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        svg {
            path {
                stroke: #fff;
            }
        }
    }
    .headYolly {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
        transition: 0.5s;
        &.active {
            color: #43ab71;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

#chatYollyStatic {
    max-width: 1024px;
    margin: 50px auto;
    padding: 20px;
    border: 1px #ddd solid;
    border-radius: 6px;
    .w-100 {
        width: 100% !important;
    }
    .half-w {
        width: 49%;
        input {
            width: 100%;
            margin: 8px 0;
            padding: 8px 14px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px #ddd solid;
        }
        p {
            margin-bottom: 0;
            font-size: 14px;
        }
    }
    .YollyRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}